@font-face{
    font-family : 'Comic Sans MS';
    src : url('../assets/fonts/comic-sans-ms/comici.ttf');
    font-style : normal;
    font-weight : normal; 
}

@font-face{
    font-family : 'Liberation Serif';
    src : url('../assets/fonts/liberation_serif/LiberationSerif-Italic.ttf');
    font-style : normal;
    font-weight : normal;
}

@font-face{
    font-family : 'tele-marines';
    src : url('../assets/fonts/tele-marines/Telev2.ttf');
    font-style : normal;
    font-weight : normal;
}
