
.home-content-text{
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items: center;
    margin-left: 8%;
    gap: 2rem;
    text-align: center;
    font-family:"Lato", sans-serif;
    padding-top: 16%;
    padding-right: 10%;
}

.home-content-text-disc{
    font-size:1.5rem;
}

.home-content-text-buttons{
    display:flex;
    gap:2rem;

}


.home-button{
    padding : 0.2rem 2rem;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    font-weight: 600;
    color : #1B1B1B !important;
    background-color: crimson;
    display: flex; 
    gap: 0.5rem;
    justify-content: center;
    align-items: center; 

}


.highlight-font{
    font-family : "tele-marines";
}


.highlight-color{
    color : crimson;
}

.home-page{
    background : url("../assets/background-home.png");
    background-size: cover;
    height: 100vh;

}



.home-content-wip{
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 2rem;
    margin-top: 10%;
    font-family:"Lato", sans-serif;
    font-size: 5rem;
     text-align: center;
     flex-direction: column;
}

.home-content-pd{
    display:flex; 
    width: 90vw;
    justify-content:center;
    align-items:center;
    gap:2rem;
    margin-top : 10%;
}

.home-pd{
    width: 30%;
}
