/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
    --ifm-color-primary: crimson;
    --ifm-color-primary-dark: crimson;
    --ifm-color-primary-darker: crimson;
    --ifm-color-primary-light: crimson;
    --ifm-color-primary-lighter: crimson;
    --ifm-color-primary-lightest: crimson;
}

html[data-theme='dark'] {
    --ifm-color-primary: crimson;
    --ifm-color-primary-dark: crimson;
    --ifm-color-primary-darker: crimson;
    --ifm-color-primary-light: crimson;
    --ifm-color-primary-lighter: crimson;
    --ifm-color-primary-lightest: crimson;
}

/* Optionally, you can override other related CSS variables if needed */


/* src/styles/nav-bar.css */
.navbar__inner{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

.navbar__items{
    text-align: center;
    justify-content:center;
    width: 100vw;
}


.nav-item {
  padding: 10px;
}

.nav-logo {
  height: 50px;
}

.nav-features, .nav-docs, .nav-forum, .nav-home, .nav-playground, .nav-obtain, .nav-notes {
  margin-right: 15px;
}

.nav__home{
    background : url("../../static/img/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    padding: 0 2rem;
    margin: 0 2rem;
}
